.orange-text  {
  font-size: 1.2rem;
  margin-left: 100px;
  }

.logo {
  width: 200px;
}

.redesSociais {
  width: 80px;
  margin-left: 0.5rem;

  }

.web3 {
  color: #d71c27;
}

.copy {
  text-align: center;
}


