
.text-parallax {
  font-size: 40px;
}
  
.row.container{
  margin: 0 auto !important;
}

div .section.white{
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

@media (max-width: 600px) {
  .text-parallax {
    font-size: 25px;
  }

  .parallax img{
    width: 1300px;
  }
}