.parallax {
  height: 700px;
}

.parallaxHeader {
  margin-top: 2rem;
  text-decoration: none;
 
}

.text-parallax {
  font-size: 50px;
}
  
.row.container{
  margin: 0 auto;
}

div .section.white{
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

@media (max-width: 600px) {
  .text-parallax {
    font-size: 25px;
  }

  .parallax img{
    width: 1300px;
  }
}