@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.logo {
  justify-content: left;
}

.header-parallax {
  color: #1a7fbd;
  font-weight: bolder;
  text-align:center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.fabio {
  width: 50px;  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Cards {
  display: flex;
}

.footer {
  background-color: #212121;
}

.footer  h3 {
  color: #1a7fbd;
  text-align:left;
  
}
