.areaFerramentas {
  padding: 5rem;
}

.cardImg {
  height: 150px;
}

.box {
  margin-left: 2rem;
  box-shadow: 5px 2.5px 10px black;
  margin-top: 5rem;
}

.campoBusca {
  margin-top: 1rem;
  background-color: bisque;
  align-content: center;
}

.lupa {
  width: 26px;
}
