.sidenav li>a {
    background-color: #212121;
}
#navItem {
    transition: 1.6s;
}

#navItem:hover {
    text-decoration: overline;
    text-decoration-color: #34b3f3;
    
}

#logo {
    text-decoration: none;
    color: #2ab6fd;
    margin-left: 10px;
    white-space: nowrap; 
}

