.palcoTestes {
  background-color: #212121;
}

.h4 {
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 200px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

